section{
    position:relative;
    display:flex;
    flex-direction: column;
    min-height: 400px;
    z-index:0;
}

section h1{
    color: white;
    font-size: 48px;
    line-height: 1;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}



.vision{
    padding-bottom: 100px;
    overflow:hidden;
    background: linear-gradient(to left, #74ebd5, #acb6e5);
}

.vision-title{
    color: white;
    padding-top:60px;
    font-size: 48px;
}

.card{
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 0 50px;
}

.card::before{
    position: absolute;
    content:'';
    width:80%;
    height: 220%;
    background: linear-gradient(to top, rgb(116,235,213,0.7), rgb(172,182,229, 0.7));
    top:-50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}

.card:hover:before{
    left:60%;
}

.card img{
    width: 100%;
    height: auto;
}

.card-text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100px;
    color: #fff;
    left:0;
    z-index: 3;
    transition: 1.1s;

}

.card:hover .card-text {
    top: 80px;
}

.partners .img{
    padding-top:0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    background-color: transparent;
}

.img{
    width: auto;
    background-color: transparent;
}

.team{
    padding-bottom: 30px;
}
.team h1{
    color:black;
}

.partners{
    background: linear-gradient(to left, #74ebd5, #acb6e5);
    min-height:100px;
    padding-bottom:100px;
    padding-top:10px;
    z-index: -1;
}




.waves {
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 110%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.waves .shape-fill {
    fill: #ffff;
}

.waves2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.waves2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.waves2 .shape-fill {
    fill: #ffffff;
}